<h1>Listing test_travis</h1>

<table>
  <thead>
    <tr>
      <th>Test1</th>
      <th>Test2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_travis.each do |test_travi| %>
      <tr>
        <td><%= test_travi.test1 %></td>
        <td><%= test_travi.test2 %></td>
        <td><%= link_to 'Show', test_travi %></td>
        <td><%= link_to 'Edit', edit_test_travi_path(test_travi) %></td>
        <td><%= link_to 'Destroy', test_travi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test travi', new_test_travi_path %>
