<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @test_travi.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @test_travi.test2 %>
</p>

<%= link_to 'Edit', edit_test_travi_path(@test_travi) %> |
<%= link_to 'Back', test_travis_path %>
